* {
    font-family: 'Nunito', sans-serif;
    color: #212529;
  }

  :root {
    --celeste1: #AED6F1;
    --celeste2: #56ccf2;
    --rojo: rgba(231, 47, 47, 0.911);
    --blanco-fondo: #f8f9fa;
    --blanco-resaltado: #dfdfdf;
    --amarillo: #ffc107;
    --negro: #343a40;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

body{

    background: var(--celeste1);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, var(--celeste2), var(--celeste1), var(--celeste2));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, var(--celeste2), var(--celeste1), var(--celeste2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#nav{
  font-family: 'Nunito'
}

main #card-container{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 10px ;
}



main #technologies-container #tech-grid{

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center; 
  grid-gap: 5px;
  padding: 15px 10px ;
}

.it-card{

  background-color: var(--blanco-fondo);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px var(--blanco-fondo);
  border-radius: 8px;
}

.it-card:hover{
  background-color: var(--blanco-resaltado);;
}

#ico-aux{
  width: 96px;
  height: 128px;
  padding: 16px 0;
}

.sep{
  display: flex;
  justify-content: center;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px;
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.5;
  border-radius: .25rem;
  margin: 30px auto;
}

#sep-title{
  background-color: var(--negro);
  color: var(--blanco-fondo);
  width: 80%;
}

/*Media*/

@media (max-width: 768px)/*(max-width: 576px)*/ {
  
  main #card-container{    background-color: unset; grid-template-columns: 1fr;  }
  main #technologies-container #tech-grid{  grid-template-columns: repeat(2, 1fr); }

}

/*@media (max-width: 576px){
  
  main #card-container{   }
  
}*/

@media (min-width: 768px) and (max-width:992px) {
  
  main #card-container{  grid-template-columns: 1fr 1fr;  }
  main #technologies-container #tech-grid{  grid-template-columns: repeat(3, 1fr);  }

}

@media (max-width:360px) {
  
  .it-card{
    padding: 6px 3px;
    border: 0;
    border-radius: 8px;
  }

}