* {
    font-family: 'Nunito', sans-serif;
    color: #212529;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

body{
    background-color: #AED6F1;
}

#nav{
  font-family: 'Nunito'
}

main #card-container{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(231, 47, 47, 0.911);
  padding: 20px 10px ;
}



main #technologies-container #tech-grid{

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center; 
  grid-gap: 5px;
  padding: 15px 10px ;
}

.it-card{

  background-color: #f8f9fa;
  
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 6px 12px;
  border: 1px #f8f9fa;;
  border-radius: 8px;
}

.it-card:hover{
  background-color: #dfdfdf;
}

#ico-aux{

  color: #335374;
  width: 96px;
  height: 128px;
  padding: 16px 0;
}

.sep{
  display: flex;
  justify-content: center;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px;
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.5;
  border-radius: .25rem;
  margin: 30px auto;
}

#sep-title{
  background-color: #343a40;
  color: #f8f9fa;
  width: 80%;
}

#btn-cv{
  display: flex;
  justify-content: center;
  background-color: #ffc107;
  width: 30%;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px;
  padding: 6px;
  font-size: 24px;
  line-height: 1.5;
  border-radius: .25rem;
  margin: 10px auto;
  
}

/*Media*/

@media (max-width: 768px)/*(max-width: 576px)*/ {
  
  main #card-container{    background-color: unset; grid-template-columns: 1fr;  }
  main #technologies-container #tech-grid{  grid-template-columns: repeat(2, 1fr); }

}

/*@media (max-width: 576px){
  
  main #card-container{   }
  
}*/

@media (min-width: 768px) and (max-width:992px) {
  
  main #card-container{  grid-template-columns: 1fr 1fr;  }
  main #technologies-container #tech-grid{  grid-template-columns: repeat(3, 1fr);  }

}

@media (max-width:360px) {
  
  .it-card{
    padding: 6px 3px;
    border: 0;
    border-radius: 8px;
  }

}